name: Deploy Flask App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t startup-app .

      - name: Run tests
        run: docker run startup-app python3 -m pytest || echo "Pas de tests"
